**/.DS_Store
.DS_Store

**/node_modules
node_modules

.env
**/.env

dist/
**/dist

# Logs
logs
*.log

# Vscode
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp directory
.temp
.tmp

# token
**/token.json

